:root {
  --bg-primary: #fec7d7;
  --bg-secondary: #d9d4e7;
  --headline: #0e172c;
  --paragraph: #a7a9be;
  --button: #0e172c;
  --btn-txt: #fffffe;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 4rem;
  padding: 2px;
  border: 5px solid var(--headline);
}

.welcome {
  height: 100vh;
  width: 100%;
  background: var(--paragraph);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome .logo-container {
  height: 200px;
  width: 200px;
}

.welcome .logo-container img {
  height: inherit;
  width: inherit;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.welcome .wlcm-txt-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.welcome .wlcm-txt-container h2 {
  font-size: 2rem;
  font-weight: 900;
}

.welcome .wlcm-txt-container h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 968px) {
  body {
    margin: 1rem;
  }
  .welcome {
    width: 100%;
  }
  .welcome .logo-container {
    height: 150px;
    width: 150px;
  }
  .welcome .wlcm-txt-container h2 {
    font-size: 1.25rem;
  }
  .welcome .wlcm-txt-container h3 {
    font-size: 1rem;
  }
}

.time-table-header {
  height: 3rem;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--bg-secondary);
}

.time-table-header .input-bar {
  margin: 1rem;
  padding: 0.5rem 5rem 0.6rem 2rem;
  width: 20rem;
  border: 3px solid var(--headline);
  border-radius: 2rem;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.time-table-header .btn {
  margin: 1rem 0 0 0;
  border: none;
  border-radius: 0.5rem;
  width: 10rem;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  outline: none;
  color: var(--btn-txt);
  background: var(--button);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.time-table-header .btn:hover {
  color: #ff5858;
}

.time-table-header .class-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  margin: 0 1rem;
  border: none;
}

.time-table-header .class-container .c-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.time-table-header .class-container .c-nav li {
  position: relative;
}

.time-table-header .class-container .c-nav li label {
  position: relative;
  width: 10rem;
  display: block;
  color: var(--btn-txt);
  padding: 10px 25px;
  background-color: var(--button);
  cursor: pointer;
  border-radius: 0.5rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.time-table-header .class-container .c-nav li label:after {
  content: "+";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--btn-txt);
  font-size: 18px;
  font-weight: 500;
}

.time-table-header .class-container .c-nav li label:hover {
  color: #ff5858;
}

.time-table-header .class-container .c-nav li label:hover::after {
  content: "-";
  display: block;
  position: absolute;
  top: 45%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  color: #ff5858;
}

.time-table-header .class-container .c-nav li label:hover + ul {
  opacity: 1;
  pointer-events: all;
}

.time-table-header .class-container .c-nav li ul {
  list-style: none;
  position: absolute;
  min-height: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--btn-txt);
  padding: 10px 20px;
  opacity: 0;
  z-index: 55;
  pointer-events: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: var(--button);
  border-radius: 0.5rem;
}

.time-table-header .class-container .c-nav li ul .std {
  display: block;
  width: 6rem;
  padding: 10px 2px;
}

.time-table-header .class-container .c-nav li ul .std:hover {
  color: #ff5858;
  cursor: pointer;
  opacity: 1;
  pointer-events: all;
}

.time-table-header .class-container .c-nav li ul:hover {
  opacity: 1;
  pointer-events: all;
}

.semester-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem 0 0;
}

.semester-container .sem-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.semester-container .sem-container li {
  position: relative;
}

.semester-container .sem-container li label {
  position: relative;
  width: 10rem;
  display: block;
  color: var(--btn-txt);
  padding: 10px 25px;
  background-color: var(--button);
  cursor: pointer;
  border-radius: 0.5rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.semester-container .sem-container li label:after {
  content: "+";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--btn-txt);
  font-size: 18px;
  font-weight: 500;
}

.semester-container .sem-container li label:hover {
  color: #ff5858;
}

.semester-container .sem-container li label:hover::after {
  content: "-";
  display: block;
  position: absolute;
  top: 45%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  color: #ff5858;
}

.semester-container .sem-container li label:hover + ul {
  opacity: 1;
  pointer-events: all;
}

.semester-container .sem-container li ul {
  list-style: none;
  position: absolute;
  min-height: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--btn-txt);
  padding: 10px 20px;
  opacity: 0;
  z-index: 55;
  pointer-events: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: var(--button);
  border-radius: 0.5rem;
}

.semester-container .sem-container li ul .semester {
  height: 100%;
  width: 7rem;
  display: block;
  padding: 10px 0;
}

.semester-container .sem-container li ul .semester:hover {
  color: #ff5858;
  cursor: pointer;
  opacity: 1;
  pointer-events: all;
}

.semester-container .sem-container li ul:hover {
  opacity: 1;
  pointer-events: all;
}

.screen-rotate-guide {
  height: 100vh;
  width: 100%;
  background-color: #000000;
  color: var(--btn-txt);
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

@media (max-width: 968px) {
  .time-table-header {
    position: relative;
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .time-table-header .input-container {
    margin: 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .time-table-header .input-container .input-bar {
    width: 12rem;
    margin: 0;
    padding: 0.3rem 0 0.3rem 1rem;
  }
  .time-table-header .input-container .btn {
    width: 10rem;
    padding: 0.35rem 1rem 0.35rem 1rem;
  }
  .time-table-header .dropdown-container {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .time-table-header .dropdown-container .class-container {
    margin: 0.25rem 0;
  }
  .time-table-header .dropdown-container .semester-container {
    margin: 0.25rem 0;
  }
  .timetable-container {
    visibility: hidden;
  }
  .screen-rotate-guide {
    position: relative;
    visibility: visible;
  }
}

.timetable-container {
  height: 100%;
  width: 100%;
  background-color: #000000;
  padding-top: 3rem;
}

.timetable-container .days-container {
  position: relative;
  height: 4rem;
  width: 100%;
  background-color: #0940aa;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.timetable-container .days-container .days {
  position: relative;
  margin: 0.25rem;
  display: inline-block;
  height: 3rem;
  background-color: #ff22ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.5rem;
}

.timetable-container .schedule-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timetable-container .schedule-container .time-indicator {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.timetable-container .schedule-container .time-indicator .time-period {
  position: relative;
  margin: 0.25rem;
  display: inline-block;
  height: 3rem;
  background-color: #ff22ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.5rem;
}
/*# sourceMappingURL=style.css.map */