:root {
  --bg-primary: #ffffff;
  --bg-secondary: #eeeeee;
  --bg-ternary: #dddddd;
  --paragraph: #aaaaaa;
  --purp1: #7912ce;
  --btn-txt: #fffffe;
  --button: #7746ea;
  --montserrat: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  margin: 0.5rem 0.5rem 0 0.5rem;
  font-family: var(--montserrat);
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

.welcome {
  height: 100vh;
  width: 100%;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--purp1);

  .logo-container {
    height: 200px;
    width: 200px;

    img {
      height: inherit;
      width: inherit;
      padding: 0.25rem;
      border: 5px solid var(--button);
      border-radius: 50%;
      overflow: hidden;
      background-color: transparent;
    }
  }

  .wlcm-txt-container {
    height: fit-content;
    width: 100%;

    h2 {
      font-family: var(--montserrat);
      font-size: 2rem;
    }

    h3 {
      font-family: var(--montserrat);
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .view-btn-container {
    margin-top: 1rem;
    position: relative;
    width: 100%;
    background: transparent;

    .view {
      display: inline-block;
      width: 4rem;
      height: 2rem;
      background: transparent;
      margin-top: 10px;
      border: 2px solid transparent;
      border-radius: 1rem;
      box-shadow: 0 5px 15px -5px #00000070;
      color: #000000;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      text-align: center;
      transition: 0.75s ease;
      outline: none;

      &:hover {
        border: 2px solid var(--button);
      }

      span {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background: transparent;
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    margin: 0.5rem 1rem;
  }
  .welcome {
    width: 100%;
    .logo-container {
      height: 150px;
      width: 150px;
    }
    .wlcm-txt-container {
      h2 {
        font-size: 1.25rem;
      }
      h3 {
        font-size: 1rem;
      }
    }
  }
}

.table-container {
  height: 100%;
  display: flex;
  border-bottom: 2px solid var(--purp1);
}

.time-table-header {
  height: 170px;
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: var(--bg-primary);
  .input-bar {
    margin: 0.5rem 0 0.25rem 0;
    padding: 0.5em 0 0.6rem 0.25rem;
    width: 12rem;
    border: 3px solid var(--purp1);
    outline: none;
    display: flex;
  }

  .class-container {
    width: 12rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    .c-nav {
      display: flex;
      list-style-type: none;
      margin: 0.25rem 0 0.5rem 0;

      li {
        position: relative;

        .classes {
          position: relative;
          width: 12rem;
          display: block;
          color: var(--btn-txt);
          padding: 10px 25px;
          background-color: var(--button);
          cursor: pointer;
          transition: 0.4s ease;

          &:after {
            content: "+";
            display: block;
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            color: var(--btn-txt);
            font-size: 18px;
            font-weight: 500;
          }

          &:hover {
            color: #ff5858;

            &::after {
              content: "-";
              display: block;
              position: absolute;
              top: 45%;
              right: 15px;
              transform: translateY(-50%);
              color: #000000;
              font-size: 18px;
              font-weight: 500;
              color: #ff5858;
            }

            + ul {
              opacity: 1;
              pointer-events: all;
            }
          }
        }
        ul {
          list-style: none;
          position: absolute;
          min-height: 100%;
          max-height: fit-content;
          min-width: 100%;
          max-width: fit-content;
          display: flex;
          flex-direction: column;
          color: var(--btn-txt);
          padding: 10px 25px;
          opacity: 0;
          z-index: 5;
          pointer-events: none;
          transition: 0.4s ease;
          background-color: var(--button);

          .std {
            display: block;
            width: 7rem;
            padding: 10px 2px;
            &:hover {
              color: #ff5858;
              cursor: pointer;
              opacity: 1;
              pointer-events: all;
            }
          }
          &:hover {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }

  .class-container:hover + .semester-container {
    transform: translateY(8.55rem);
  }

  .semester-container {
    width: 12rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.26s ease;
    .sem-container {
      display: flex;
      list-style-type: none;
      margin-bottom: 0.5rem;

      li {
        position: relative;

        label {
          position: relative;
          width: 12rem;
          display: block;
          color: var(--btn-txt);
          padding: 10px 25px;
          background-color: var(--button);
          cursor: pointer;
          transition: 0.4s ease;

          &:after {
            content: "+";
            display: block;
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            color: var(--btn-txt);
            font-size: 18px;
            font-weight: 500;
          }

          &:hover {
            color: #ff5858;

            &::after {
              content: "-";
              display: block;
              position: absolute;
              top: 45%;
              right: 15px;
              transform: translateY(-50%);
              color: #000000;
              font-size: 18px;
              font-weight: 500;
              color: #ff5858;
            }

            + ul {
              opacity: 1;
              pointer-events: all;
            }
          }
        }
        ul {
          list-style: none;
          position: absolute;
          min-height: 100%;
          max-height: fit-content;
          min-width: 100%;
          max-width: fit-content;
          display: flex;
          flex-direction: column;
          color: var(--btn-txt);
          padding: 10px 20px;
          opacity: 0;
          z-index: 55;
          pointer-events: none;
          transition: 0.4s ease;
          background-color: var(--button);

          .semester {
            display: block;
            width: 7rem;
            padding: 10px 2px;
            &:hover {
              color: #ff5858;
              cursor: pointer;
              opacity: 1;
              pointer-events: all;
            }
          }
          &:hover {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  body {
    margin: 0.5rem 1rem;
  }
  .table-container {
    display: flex;
    flex-direction: column;
  }

  .time-table-header {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .search-container {
      margin: 0.25rem auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .input-bar {
        width: 12rem;
        margin: 0.25rem;
        padding: 0.5rem 0 0.5rem 1rem;
      }
    }
    .dropdown-container {
      margin: 0;
      padding: 0;
      height: auto;
      width: 100%;
      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: center;

      .class-container {
        margin: 0 0.25rem;
        // label {
        // margin: 0.25rem 0 0 0;
        // }
      }
      .semester-container {
        margin: 0 0.25rem;
        label {
          margin: 0.25rem 0 0 0;
        }
      }
    }
    .class-container:hover + .semester-container {
      transform: translateY(0);
    }
  }
}

@media (max-width: 768px) {
  .table-container {
    display: flex;
    flex-direction: column;
  }

  .time-table-header {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .search-container {
      margin: 0.25rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .input-bar {
        width: 12rem;
        padding: 0.3rem 0 0.3rem 1rem;
      }
    }
    .dropdown-container {
      margin: 0 0 2rem 0;
      padding: 0 0 5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .class-container {
        margin: 0 0 0.25rem 0;
        label {
          margin: 0.25rem 0 0 0;
        }
      }
      .semester-container {
        margin: 0 0 0.5rem 0;
        label {
          margin: 0.25rem 0 0 0;
        }
      }
    }
    .class-container:hover + .semester-container {
      transform: translateY(8.55rem);
    }
  }
}

.timetable-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-primary);
  margin: 0 0 0.25rem 0;
  display: flex;
  align-items: center;
}

table.responsive-table {
  margin: 0.5rem 0 0 0;
  height: 500px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  border: 1px solid var(--bg-secondary);
  border-spacing: 0;
  thead {
    height: auto;
    th {
      height: 60px;
      cursor: context-menu;
      background-color: var(--bg-secondary);
      border: 2px solid var(--bg-secondary);
    }
  }

  tbody {
    .subjects {
      margin: 0;
      height: 3rem;
      width: auto;
      cursor: pointer;
      background-color: var(--bg-ternary);
      &:nth-child(even) {
        background-color: var(--bg-secondary);
      }
      td {
        text-align: center;
        transition: background 0.25s ease;
        border: 1px solid transparent;
        &:hover {
          background-color: var(--bg-primary);
          border: 1px solid var(--purp1);
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .timetable-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 1rem;
  }

  table.responsive-table {
    height: 500px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: auto;

    th,
    td {
      margin: 0;
      vertical-align: top;
    }

    thead {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      float: left;
      border: 2px solid var(--paragraph);

      tr {
        display: inline-block;
      }

      th {
        display: block;
        line-height: 60px;
      }
    }

    tbody {
      display: block;
      height: 360px;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
      // border: 2px solid var(--paragraph);

      .subjects {
        display: inline-block;
        height: 100%;
      }
    }
    td {
      display: block;
      height: 60px;
      text-align: center;
      padding: 0 5px 0 5px;
      line-height: 60px;
    }
  }
}
