:root {
	--bg-primary: #ffffff;
	--bg-secondary: #f2f2f2;
	--bg-ternary: #dddddd;
	--purp1: #7912ce;
	--btn-txt: #fffffe;
	--montserrat: "Montserrat", sans-serif;
	--bg: #fffffe;
	--color: #2b2c34;
	--accent: #6246ea;
	--accent-light: #d1d1e966;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html,
body {
	margin: 0.5rem 0.5rem 0 0.5rem;
	font-family: var(--montserrat);
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--accent);
}

.welcome {
	height: 105vh;
	width: 100%;
	background: var(--bg-primary);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-bottom: 2px solid var(--accent);
}

.logo-container {
	height: 200px;
	width: 200px;
}

.logo-container img {
	height: inherit;
	width: inherit;
	padding: 0.25rem;
	border: 5px solid var(--accent);
	border-radius: 50%;
	overflow: hidden;
	background-color: transparent;
}

.wlcm-txt-container {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	width: 100%;
}

.wlcm-txt-container h2 {
	font-family: var(--montserrat);
	font-size: 2rem;
}

.wlcm-txt-container h3 {
	font-family: var(--montserrat);
	font-size: 1.5rem;
	font-weight: 700;
}

.view-btn-container {
	margin-top: 1rem;
	position: relative;
	width: 100%;
	background: transparent;
}

.view {
	display: inline-block;
	width: 4rem;
	height: 2rem;
	background: transparent;
	margin-top: 10px;
	border: 2px solid transparent;
	border-radius: 1rem;
	-webkit-box-shadow: 0 5px 15px -5px #00000070;
	box-shadow: 0 5px 15px -5px #00000070;
	color: #000000;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-transition: 0.75s ease;
	transition: 0.75s ease;
	outline: none;
}

.view:hover {
	border: 2px solid var(--accent);
}

.view span {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 2;
	background: transparent;
}

@media (max-width: 768px) {
	body {
		margin: 0.5rem 1rem;
	}
	.welcome {
		width: 100%;
	}
	.welcome .logo-container {
		height: 150px;
		width: 150px;
	}
	.welcome .wlcm-txt-container h2 {
		font-size: 1.25rem;
	}
	.welcome .wlcm-txt-container h3 {
		font-size: 1rem;
	}
}

.table-container {
	height: 455px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid var(--accent);
}

.time-table-header {
	height: 100%;
	width: 400px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	/* -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; */
	padding-top: 5px;
	background-color: var(--bg-primary);
}

.time-table-header .input-bar {
	margin: 0.5rem 0 0.25rem 0;
	padding: 0.5em 0 0.6rem 0.25rem;
	width: 12rem;
	border: 3px solid var(--accent);
	outline: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.time-table-header .class-container {
	width: 12rem;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: none;
}

.time-table-header .class-container .c-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	margin: 0.25rem 0 0.5rem 0;
}

.time-table-header .class-container .c-nav li {
	position: relative;
}

.time-table-header .class-container .c-nav li .classes {
	position: relative;
	width: 12rem;
	display: block;
	color: var(--btn-txt);
	padding: 10px 25px;
	background-color: var(--accent);
	cursor: pointer;
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
}

.time-table-header .class-container .c-nav li .classes:after {
	content: "+";
	display: block;
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: var(--btn-txt);
	font-size: 18px;
	font-weight: 500;
}

.time-table-header .class-container .c-nav li .classes:hover {
	color: #ff5858;
}

.time-table-header .class-container .c-nav li .classes:hover::after {
	content: "-";
	display: block;
	position: absolute;
	top: 45%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #000000;
	font-size: 18px;
	font-weight: 500;
	color: #ff5858;
}

.time-table-header .class-container .c-nav li .classes:hover + ul {
	opacity: 1;
	pointer-events: all;
}

.time-table-header .class-container .c-nav li ul {
	list-style: none;
	position: absolute;
	min-height: 100%;
	max-height: -webkit-fit-content;
	max-height: -moz-fit-content;
	max-height: fit-content;
	min-width: 100%;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	color: var(--btn-txt);
	padding: 10px 25px;
	opacity: 0;
	z-index: 5;
	pointer-events: none;
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
	background-color: var(--accent);
}

.time-table-header .class-container .c-nav li ul .std {
	display: block;
	width: 7rem;
	height: 30px;
	padding: 10px 2px;
}

.time-table-header .class-container .c-nav li ul .std:hover {
	color: #ff5858;
	cursor: pointer;
	opacity: 1;
	pointer-events: all;
}

.time-table-header .class-container .c-nav li ul:hover {
	opacity: 1;
	pointer-events: all;
}

.time-table-header .class-container:hover + .semester-container {
	-webkit-transform: translateY(7rem);
	transform: translateY(7rem);
}

.time-table-header .semester-container {
	width: 12rem;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: none;
	-webkit-transition: 0.26s ease;
	transition: 0.26s ease;
}

.time-table-header .semester-container .sem-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	margin-bottom: 0.5rem;
}

.time-table-header .semester-container .sem-container li {
	position: relative;
}

.time-table-header .semester-container .sem-container li label {
	position: relative;
	width: 12rem;
	display: block;
	color: var(--btn-txt);
	padding: 10px 25px;
	background-color: var(--accent);
	cursor: pointer;
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
}

.time-table-header .semester-container .sem-container li label:after {
	content: "+";
	display: block;
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: var(--btn-txt);
	font-size: 18px;
	font-weight: 500;
}

.time-table-header .semester-container .sem-container li label:hover {
	color: #ff5858;
}

.time-table-header .semester-container .sem-container li label:hover::after {
	content: "-";
	display: block;
	position: absolute;
	top: 45%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #000000;
	font-size: 18px;
	font-weight: 500;
	color: #ff5858;
}

.time-table-header .semester-container .sem-container li label:hover + ul {
	opacity: 1;
	pointer-events: all;
}

.time-table-header .semester-container .sem-container li ul {
	list-style: none;
	position: absolute;
	min-height: 100%;
	max-height: -webkit-fit-content;
	max-height: -moz-fit-content;
	max-height: fit-content;
	min-width: 100%;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	color: var(--btn-txt);
	padding: 10px 20px;
	opacity: 0;
	z-index: 55;
	pointer-events: none;
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
	background-color: var(--accent);
}

.time-table-header .semester-container .sem-container li ul .semester {
	display: block;
	width: 7rem;
	padding: 10px 2px;
	height: 30px;
}

.time-table-header .semester-container .sem-container li ul .semester:hover {
	color: #ff5858;
	cursor: pointer;
	opacity: 1;
	pointer-events: all;
}

.time-table-header .semester-container .sem-container li ul:hover {
	opacity: 1;
	pointer-events: all;
}

@media (max-width: 1080px) {
	.table-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.time-table-header {
		position: relative;
		height: 100%;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.time-table-header .search-container {
		margin: 0.25rem auto;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.time-table-header .search-container .input-bar {
		width: 12rem;
		margin: 0.25rem;
		padding: 0.5rem 0 0.5rem 1rem;
	}
	.time-table-header .dropdown-container {
		margin: 0;
		padding: 0;
		height: auto;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.time-table-header .dropdown-container .class-container {
		margin: 0 0.25rem;
	}
	.time-table-header .dropdown-container .semester-container {
		margin: 0 0.25rem;
	}
	.time-table-header .dropdown-container .semester-container label {
		margin: 0.25rem 0 0 0;
	}
	.time-table-header .class-container:hover + .semester-container {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@media (max-width: 768px) {
	.table-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.time-table-header {
		position: relative;
		height: 100vh;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.time-table-header .search-container {
		margin: 0.25rem 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.time-table-header .search-container .input-bar {
		width: 12rem;
		padding: 0.3rem 0 0.3rem 1rem;
	}
	.time-table-header .dropdown-container {
		margin: 0 0 2rem 0;
		padding: 0 0 5rem 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.time-table-header .dropdown-container .class-container {
		margin: 0 0 0.25rem 0;
	}
	.time-table-header .dropdown-container .class-container label {
		margin: 0.25rem 0 0 0;
	}
	.time-table-header .dropdown-container .semester-container {
		margin: 0 0 0.5rem 0;
	}
	.time-table-header .dropdown-container .semester-container label {
		margin: 0.25rem 0 0 0;
	}
	.time-table-header .class-container:hover + .semester-container {
		-webkit-transform: translateY(7rem);
		transform: translateY(7rem);
	}
}

#app {
	position: relative;
	min-height: 100%;
	color: var(--color);
}

#app:before,
#app:after {
	content: " ";
	display: table;
}

/* table code below */

.table {
	display: inline-flex;
	border-radius: 3px;
	overflow: hidden;
	background-color: var(--bg-primary);
}
.sub {
	max-width: calc(100vw - (130px + 16px));
	/*   max-width: calc( 100vw - (timeColumnMaxWidth + columnSideMargin) ); */
	overflow: auto hidden;
}

.sub-wrapper {
	display: flex;
	width: 100%;
}
.row {
	display: flex;
	flex-direction: column;
}
.col {
	height: 55px;
	line-height: 50px;
	padding: 0 16px;
	min-width: 80px;
	white-space: nowrap;
	text-align: center;
}

/* table styles */

.table {
	margin: 8px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12), -2px -2px 4px rgba(0, 0, 0, 0.12);
}

.row > .col:nth-child(odd) {
	background: var(--bg-secondary);
}

.row > .col:first-child {
	font-weight: 700;
	color: var(--bg);
	background: var(--accent);
}

.col:hover {
	box-shadow: inset 0 0 0px 3px var(--color);
	cursor: pointer;
}

.table > .row:first-child > .col {
	cursor: default;
	font-weight: 700;
} 