:root {
  --bg-primary: #ffffff;
  --bg-secondary: #cacaca;
  --bg-ternary: #ebebeba6;
  --headline: #4e0c88;
  --paragraph: #a7a9be;
  --purp1: #7912ce;
  --btn-txt: #fffffe;
  --button: #7746ea;
  --montserrat: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0.5rem 0.5rem 0 0.5rem;
  font-family: var(--montserrat);
  scroll-behavior: smooth;
}

.welcome {
  height: 100vh;
  width: 100%;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--headline);

  .logo-container {
    height: 200px;
    width: 200px;

    img {
      height: inherit;
      width: inherit;
      padding: 0.25rem;
      border: 5px solid var(--button);
      border-radius: 50%;
      overflow: hidden;
      background-color: transparent;
    }
  }

  .wlcm-txt-container {
    height: fit-content;
    width: 100%;

    h2 {
      font-family: var(--montserrat);
      font-size: 2rem;
    }

    h3 {
      font-family: var(--montserrat);
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .view-btn-container {
    margin-top: 1rem;
    position: relative;
    width: 100%;
    background: transparent;

    .view {
      display: inline-block;
      width: 4rem;
      height: 2rem;
      background: transparent;
      margin-top: 10px;
      border: 2px solid transparent;
      border-radius: 1rem;
      box-shadow: 0 5px 15px -5px #00000070;
      color: #000000;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      text-align: center;
      transition: 0.75s ease;
      outline: none;

      &:hover {
        border: 2px solid var(--button);
      }

      span {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background: transparent;
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    margin: 0.5rem 1rem;
  }
  .welcome {
    width: 100%;
    .logo-container {
      height: 150px;
      width: 150px;
    }
    .wlcm-txt-container {
      h2 {
        font-size: 1.25rem;
      }
      h3 {
        font-size: 1rem;
      }
    }
  }
}

.table-container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--headline);
}

.time-table-header {
  margin-top: 0;
  height: 60%;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary);
  .input-bar {
    margin: 0 0 0.25rem 0;
    padding: 0.6rem 0 0.6rem 0.25rem;
    width: 12rem;
    border: 3px solid var(--headline);
    outline: none;
    display: flex;
  }

  .class-container {
    width: 12rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    .c-nav {
      display: flex;
      list-style-type: none;
      margin: 0.25rem 0 0.5rem 0;

      li {
        position: relative;

        .classes {
          position: relative;
          width: 12rem;
          display: block;
          color: var(--btn-txt);
          padding: 10px 25px;
          background-color: var(--button);
          cursor: pointer;
          transition: 0.4s ease;

          &:after {
            content: "+";
            display: block;
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            color: var(--btn-txt);
            font-size: 18px;
            font-weight: 500;
          }

          &:hover {
            color: #ff5858;

            &::after {
              content: "-";
              display: block;
              position: absolute;
              top: 45%;
              right: 15px;
              transform: translateY(-50%);
              color: #000000;
              font-size: 18px;
              font-weight: 500;
              color: #ff5858;
            }

            + ul {
              opacity: 1;
              pointer-events: all;
            }
          }
        }
        ul {
          list-style: none;
          position: absolute;
          min-height: 100%;
          max-height: fit-content;
          min-width: 100%;
          max-width: fit-content;
          display: flex;
          flex-direction: column;
          color: var(--btn-txt);
          padding: 10px 25px;
          opacity: 0;
          z-index: 5;
          pointer-events: none;
          transition: 0.4s ease;
          background-color: var(--button);

          .std {
            display: block;
            width: 7rem;
            padding: 10px 2px;
            &:hover {
              color: #ff5858;
              cursor: pointer;
              opacity: 1;
              pointer-events: all;
            }
          }
          &:hover {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }

  .class-container:hover + .semester-container {
    transform: translateY(8.55rem);
  }

  .semester-container {
    width: 12rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.26s ease;
    .sem-container {
      display: flex;
      list-style-type: none;
      margin-bottom: 0.5rem;

      li {
        position: relative;

        label {
          position: relative;
          width: 12rem;
          display: block;
          color: var(--btn-txt);
          padding: 10px 25px;
          background-color: var(--button);
          cursor: pointer;
          transition: 0.4s ease;

          &:after {
            content: "+";
            display: block;
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            color: var(--btn-txt);
            font-size: 18px;
            font-weight: 500;
          }

          &:hover {
            color: #ff5858;

            &::after {
              content: "-";
              display: block;
              position: absolute;
              top: 45%;
              right: 15px;
              transform: translateY(-50%);
              color: #000000;
              font-size: 18px;
              font-weight: 500;
              color: #ff5858;
            }

            + ul {
              opacity: 1;
              pointer-events: all;
            }
          }
        }
        ul {
          list-style: none;
          position: absolute;
          min-height: 100%;
          max-height: fit-content;
          min-width: 100%;
          max-width: fit-content;
          display: flex;
          flex-direction: column;
          color: var(--btn-txt);
          padding: 10px 20px;
          opacity: 0;
          z-index: 55;
          pointer-events: none;
          transition: 0.4s ease;
          background-color: var(--button);

          .semester {
            display: block;
            width: 7rem;
            padding: 10px 2px;
            &:hover {
              color: #ff5858;
              cursor: pointer;
              opacity: 1;
              pointer-events: all;
            }
          }
          &:hover {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }
}

// .screen-rotate-guide {
//   height: 100vh;
//   background-color: #000000;
//   color: var(--btn-txt);
//   opacity: 0;
//   visibility: hidden;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: absolute;
//   transform: translateY(-200%);
//   text-align: center;
// }

@media (max-width: 1080px) {
  body {
    margin: 0.5rem 1rem;
  }
  .table-container {
    display: flex;
    flex-direction: column;
  }

  .time-table-header {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .search-container {
      margin: 0.25rem auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .input-bar {
        width: 12rem;
        margin: 0.25rem;
        padding: 0.5rem 0 0.5rem 1rem;
      }
    }
    .dropdown-container {
      margin: 0;
      padding: 0;
      height: auto;
      width: 100%;
      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: center;

      .class-container {
        margin: 0 0.25rem;
        // label {
        // margin: 0.25rem 0 0 0;
        // }
      }
      .semester-container {
        margin: 0 0.25rem;
        label {
          margin: 0.25rem 0 0 0;
        }
      }
    }
    .class-container:hover + .semester-container {
      transform: translateY(0);
    }
  }
}

// here

@media (max-width: 768px) {
  .table-container {
    display: flex;
    flex-direction: column;
  }

  .time-table-header {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .search-container {
      margin: 0.25rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .input-bar {
        width: 12rem;
        padding: 0.3rem 0 0.3rem 1rem;
      }
    }
    .dropdown-container {
      margin: 0 0 2rem 0;
      padding: 0 0 5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .class-container {
        margin: 0 0 0.25rem 0;
        label {
          margin: 0.25rem 0 0 0;
        }
      }
      .semester-container {
        margin: 0 0 0.5rem 0;
        label {
          margin: 0.25rem 0 0 0;
        }
      }
    }
    .class-container:hover + .semester-container {
      transform: translateY(8.55rem);
    }
  }
}

@media only screen and (max-width: 992px) {
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */
  }
  table.responsive-table td:empty:before {
    content: "\00a0";
  }
  table.responsive-table th,
  table.responsive-table td {
    margin: 0;
    vertical-align: top;
  }
  table.responsive-table th {
    text-align: left;
  }
  table.responsive-table thead {
    display: block;
    float: left;
  }
  table.responsive-table thead tr {
    display: block;
    padding: 0 10px 0 0;
  }
  table.responsive-table thead tr th::before {
    content: "\00a0";
  }
  table.responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  table.responsive-table tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  table.responsive-table th {
    display: block;
    text-align: right;
  }
  table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }
  table.responsive-table tr {
    border-bottom: none;
    padding: 0 10px;
  }
  table.responsive-table thead {
    border: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
}

@media screen and (min-width: 1080px) {
  .timetable-container {
    position: relative;
    right: 0;
    float: right;
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary);
    margin: 0 0 0.25rem 0;

    table {
      margin: 0.5rem 0 0 0;
      height: 400px;
      width: 100%;
      display: table;
      border: 1px solid var(--bg-secondary);
      border-spacing: 0;
      thead {
        th {
          height: 3rem;
          cursor: context-menu;
          background-color: var(--bg-secondary);
          // border: 2px solid var(--bg-secondary);
        }
      }

      tbody {
        .subjects {
          margin: 0;
          height: 3rem;
          width: auto;
          cursor: pointer;
          background-color: var(--bg-ternary);
          &:nth-child(even) {
            background-color: var(--bg-secondary);
          }
          td {
            text-align: center;
            transition: 0.25s ease;
            border: 1px solid transparent;
            &:hover {
              background-color: var(--bg-primary);
              border: 1px solid var(--headline);
            }
          }
        }
      }
    }
  }
}
// @media (max-width: 540px) {
//   .timetable-container {
//     overflow-x: scroll;
//     thead {
//       display: block;
//       float: left;
//       tr {
//         display: block;
//       }
//     }
//     tbody {
//       display: block;
//       width: auto;
//       position: relative;
//       overflow-x: auto;
//       white-space: nowrap;
//       tr {
//         display: inline-block;
//         vertical-align: top;
//       }
//     }
// display: none;
// visibility: hidden;
// opacity: 0;
// transform: translateX(-50%);
// }

// .screen-rotate-guide {
//   width: 100%;
//   position: relative;
//   visibility: visible;
//   transform: translateY(0%);
//   opacity: 1;
//   border-radius: 1rem;
//   margin-bottom: 1rem;
// }
// }

// contact page styles

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
  h2 {
    margin: 2rem 0;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  background-color: white;
  border-radius: 1rem;
  padding: 32px 16px;
  box-shadow: 0 5px 15px -1px #00000070;

  .btn-submit {
    display: inline-block;
    width: 10rem;
    height: 2rem;
    background: transparent;
    margin-top: 10px;
    border: 2px solid transparent;
    border-radius: 0 0 1rem 1rem / 0 0 1rem 1rem;
    box-shadow: 0 5px 15px -1px #00000070;
    color: #000000;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-align: center;
    transition: 0.75s ease;
    cursor: pointer;
    outline: none;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      border: 2px solid var(--button);
      color: var(--headline);
    }
  }
}

.input-container {
  position: relative;
  display: block;
  height: 50px;
  width: 40%;
  margin: 10px auto;
  input {
    bottom: 0;
    display: block;
    height: 40px;
    width: 100%;
    line-height: 40px;
    border: 0;
    border-bottom: 2px solid transparent;
    outline: 0;
    padding: 0 8px;
    transition: 0.4s ease;
    box-shadow: 0 5px 15px -1px #00000070;
    border-radius: 0 0 1rem 1rem / 0 0 1rem 1rem;
    &::placeholder {
      color: transparent;
    }
  }

  label {
    position: absolute;
    bottom: 20px;
    left: 9px;
    color: #9e9e9e;
    cursor: text;
    transition: all 0.3s ease-in-out;
    user-select: none;
  }
  input:focus,
  input:not(:placeholder-shown) {
    border-bottom: 2px solid var(--headline);
  }
  input:focus + label,
  input:not(:placeholder-shown) + label {
    bottom: 48px;
    left: 0;
    font-size: 14px;
    color: var(--headline);
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h2 {
      margin: 0.5rem 0;
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    background-color: white;
    border-radius: 1rem;
    padding: 32px 16px;
    box-shadow: 0 5px 15px -1px #00000070;
  }

  .input-container {
    position: relative;
    display: block;
    height: 40px;
    width: 100%;
    margin-bottom: 12px;
    input {
      bottom: 0;
      display: block;
      height: 40px;
      width: 100%;
      line-height: 40px;
      border: 0;
      border-bottom: 1px solid #9e9e9e;
      outline: 0;
      padding: 0 8px;
      /*   transition: all 1s ease-in-out; */
      &::placeholder {
        color: transparent;
      }
    }

    label {
      position: absolute;
      bottom: 12px;
      left: 9px;
      color: #9e9e9e;
      cursor: text;
      transition: all 0.2s ease-in-out;
      user-select: none;
    }
    input:focus,
    input:not(:placeholder-shown) {
      border-bottom: 2px solid #6c17e1;
    }
    input:focus + label,
    input:not(:placeholder-shown) + label {
      bottom: 40px;
      left: 0;
      font-size: 14px;
      color: #6c17e1;
    }
  }
}
